In [1]:
import tabula
import pandas as pd

pdf_path="./IT_2024.pdf"

tables = tabula.read_pdf(pdf_path,pages='all',multiple_tables=True)
tables

excel_file_path = 'it_tabula_py_extraction.xlsx'

with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
    for i, df in enumerate(tables, 1):
        sheet_name = f'Sheet{i}'
        df.to_excel(writer, sheet_name=sheet_name, index=False)

print(f"Data has been successfully exported to {excel_file_path}")

input_file_path = './it_tabula_py_extraction.xlsx'
output_file_path = 'it_name_list.xlsx'

sheet_name = 'Sheet1'

df = pd.read_excel(input_file_path, sheet_name, header=0)

df.to_excel(output_file_path, index=False)
print(f"Data from '{sheet_name}' has been saved to '{output_file_path}'.")

existing_data_path = './it_name_list.xlsx'
existing_data_sheet = 'Sheet1'
existing_df = pd.read_excel(existing_data_path, existing_data_sheet, header=0)

# Read all sheets in the Excel file except the first sheet
excel_file_path = './it_tabula_py_extraction.xlsx'
excel_file = pd.ExcelFile(excel_file_path)

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through all sheets in the Excel file
for sheet_name in excel_file.sheet_names:
    if sheet_name == "Sheet1":
        continue
    
    # Read each sheet into a DataFrame, without considering the first row as column names
    df = pd.read_excel(excel_file, sheet_name, header=None)
    
    # Set column names for the DataFrame
    df.columns = ['Seat No', 'Student Name', 'Mother Name', 'PRN']
    
    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat([existing_df] + dfs, ignore_index=True)

# Save the combined data to a new Excel file
combined_data_path = 'It_NameList_2024.xlsx'
combined_df.to_excel(combined_data_path, index=False)

print(f"Data has been added to '{existing_data_path}' and saved to '{combined_data_path}'.")

Data has been successfully exported to it_tabula_py_extraction.xlsx
Data from 'Sheet1' has been saved to 'it_name_list.xlsx'.
Data has been added to './it_name_list.xlsx' and saved to 'It_NameList_2024.xlsx'.

In [2]:
first_page="./IT_2024_first_page_modification-1.pdf"

In [3]:
tables= tabula.read_pdf(first_page,pages='all',multiple_tables=True)
tables

[       Seat No                    Unnamed: 0  Student Name  Mother Name  \
 0   B190058501                    ABHAY BHAT           NaN  SUNITA BHAT
 1   B190058502        ADITYA RAJENDRA THORAT           NaN       KAVITA
 2          NaN                           NaN           NaN       THORAT
 3   B190058503                   ADVAIT NAIK           NaN  SONALI NAIK
 4   B190058504         AGRAWAL PRATHAM SUNIL           NaN        SUDHA
 5          NaN                           NaN           NaN      AGRAWAL
 6   B190058505    AGRAWAL VAISHNAVI MAYURESH           NaN      AGRAWAL
 7          NaN                           NaN           NaN       KAVITA
 8          NaN                           NaN           NaN     MAYURESH
 9   B190058506          AMBEKAR TEJAS MUKUND           NaN         JAYA
 10         NaN                           NaN           NaN      AMBEKAR
 11  B190058507                  ANCHALAA JHA           NaN   BHAVNA JHA
 12  B190058508  ANSARI MOHAMMAD SAIF SHAKEEL           NaN     FAHMEEDA
 13         NaN                         AHMAD           NaN        BEGUM
 14  B190058509                    ANUSHKA DE           NaN     JHUMA DE
 15  B190058510       APOORVARAJ VIKAS LONDHE           NaN       UJWALA
 16  B190058511                 ARYAN AGRAWAL           NaN      SHALINI
 17         NaN                           NaN           NaN      AGRAWAL
 18  B190058512           ARYAN MAHENDRA VORA           NaN        ANITA
 19  B190058513     ATHARVA SATYENDRA AGRAWAL           NaN       POONAM
 20  B190058514       ATTARDE SAKSHI RAJENDRA           NaN      ATTARDE
 21         NaN                           NaN           NaN         HEMA
 22         NaN                           NaN           NaN     RAJENDRA
 23  B190058515          AWAD MAITREYA DEEPAK           NaN       SARIKA
 24         NaN                           NaN           NaN       DEEPAK
 25         NaN                           NaN           NaN         AWAD
 26  B190058516         BAHETI HIMANSHU PARAG           NaN  JYOTI PARAG
 27         NaN                           NaN           NaN       BAHETI
 28  B190058517      BAJAJ ANUSHREE SHRIGOPAL           NaN      PRAVINA
 29         NaN                           NaN           NaN        BAJAJ

           PRN
 0   72138157L
 1   72138165M
 2         NaN
 3   72138166K
 4   72138170H
 5         NaN
 6   72138171F
 7         NaN
 8         NaN
 9   72138173B
 10        NaN
 11  72138177E
 12  72279292B
 13        NaN
 14  72138182M
 15  72138183K
 16  72138188L
 17        NaN
 18  72279293L
 19  72279294J
 20  72279295G
 21        NaN
 22        NaN
 23  72138194E
 24        NaN
 25        NaN
 26  72138202K
 27        NaN
 28  72138203H
 29        NaN  ]